body{
    background-color: rgb(158, 158, 158);
}

nav{
    background-color: rgb(49, 49, 49);
}

nav a{
    color: white;
}

main{
    background-color: rgb(202, 202, 202);
    color: black;
}

main h1{
    color: rgb(0, 0, 0);
}

main p{
    color: rgb(44, 44, 44);
}

footer{
    background-color: rgb(213, 226, 94);
    color: black;
}